<div class="row">
  <form id="login" class="col-sm-4 mx-auto">
    <h2 class="mb-0">Reset Password</h2>
    <p><small>or <a href="/login">sign in to your account</a></small></p>

    <!-- Email (Username) -->
    <div class="form-group">
      <label for="user_email">Email</label>
      <input type="email" id="user_email" name="user[email]" class="form-control" />
    </div>

    <div class="form-group"><button type="submit" class="btn btn-primary w-100">Reset Password</button></div>

  </form>
</div>
