<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-dark mb-2" style="background-color: #ef07a7;">
      <a href="/" class="navbar-brand">FacePage</a>
    </nav>
    <%= yield %>
  </div>
</body>
</html>
