<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-dark mb-2" style="background-color: #ef07a7;">
      <span class="navbar-brand">FacePage</span>

      <ul class="nav navbar-nav float-xs-right">
        <% if logged_in? %>
          <li class="nav-item">
            <a class="btn btn-info" href="#" id="logout">Log Out</a>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="btn btn-success" href="/login">Log In</a>
          </li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.0.5/es6-promise.auto.min.js"></script>
  <script src="https://unpkg.com/keratin-authn@0.4.1/dist/keratin-authn.cookie.min.js"></script>
  <script>
    KeratinAuthN.setHost("<%= Keratin::AuthN.config.issuer %>");
    KeratinAuthN.setSessionName('authn');
  </script>
  <script src="application.js"></script>
</body>
</html>
