<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-dark mb-2" style="background-color: #ef07a7;">
      <a href="/" class="navbar-brand">FacePage</a>

      <ul class="nav navbar-nav float-xs-right">
        <% if current_user %>
          <li class="nav-item">
            <a class="btn btn-info" href="/account">Manage Account</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-info" href="#" id="logout">Log Out</a>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="btn btn-info" href="<%= Keratin::AuthN.config.issuer %>/oauth/github?redirect_uri=<%= url('/register') %>">GitHub</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-success" href="/login">Log In</a>
          </li>
        <% end %>
      </ul>
    </nav>
    <%= yield %>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.0.5/es6-promise.auto.min.js"></script>
  <%= erb :authn_setup %>
  <script>
    KeratinAuthN.restoreSession()
      .catch(console.log);
  </script>
  <script src="application.js"></script>
</body>
</html>
