<h2>Log In</h2>

<form id="login">

  <!-- Email (Username) -->
  <div class="form-group">
    <label for="user_email" class="form-control-label">Email</label>
    <div class="input-group">
      <input type="email" id="user_email" name="user[email]" class="form-control" />
      <span class="input-group-btn">
        <a type="submit" class="btn btn-primary collapse" id="resetButton">Reset Password</a>
      </span>
    </div>
  </div>

  <!-- Password -->
  <div class="form-group">
    <label for="user_password" class="form-control-label">
      Password
      <small><a href="#resetButton" data-toggle="collapse">(Forgot your password?)</a></small>
    </label>
    <input type="password" id="user_password" class="form-control" />
  </div>

  <button type="submit" class="btn btn-primary">Log In</button>

</form>
